.wrapped{
  padding: 0 70px;
  width: 100%;
}
.container-fluid{

  width: 50%;
  margin: 20px 0;
  border: 1px solid #cbd5e0;
}
.left{
  float: left;
}
.right{
  float: right;
}
.title{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 23px 0;
}
