<div class="wrapped">
  <div class="container-fluid left" style=" width: 100%;  ">
    <app-total-infor></app-total-infor>
  </div>
  <div class="container-fluid left">
    <app-country-case-chart (country)="onGetCountry($event)"
    (dateTime)="onGetDatetime($event)"
    (deaths)="onGetDeath($event)"
    (confirmed)="onGetConfirmed($event)"
    (recovered)="onGetRecovered($event)"
    >
    </app-country-case-chart>
  </div>
  <div class="container-fluid right" style="height: 512px;">
    <div class="title">COVID-19 CIRCLE CHART</div>
    <app-world-pie-chart
    [dateTime]="dateTime"
    [country]="country"
    [Deaths]="deaths"
    [Confirmed]="confirmed"
    [Recovered]="recovered"
    ></app-world-pie-chart>
  </div>
 
</div>
