
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="">Country</label>
          <select class="form-control" name="" id="" [(ngModel)]="selectedCountry" (change)="onChangeCountry()"  id="selectOption" >
            <option *ngFor="let c of countries$ | async" [value]="c.Slug">{{c.Country}}</option>
          </select>
          <input type="month"  id="month" name="month" [(ngModel)]="time" (change)="onChangeTime(onChangeTime)" >
        </div>
      </div>
      <div class="col-md-12">
        <div echarts [options]="countryCasesChartOptions " class="demo-chart" (chartMouseOver)="setValueCurrent(($event))" c></div>
      </div>
    </div>
  </div>