
<!--<div class="wrapped">
    <h2>COVID -19 Cases in I    nternal</h2>
    <div class="board">
      <div class="card a"><i class="fa fa-tachometer"></i><h5>Active Cases: }}</h5><span id="active"></span></div>
      <div class="card ca"><i class="fa fa-th-list"></i><h5>Total Cases: }}</h5><span id="cases"></span></div>
      <div class="card cr"><i class="fa fa-times-circle"></i><h5>Critical Cases: </h5><span id="critical"></span></div>
      <div class="card d"><i class="fa fa-times"></i><h5>Total Deaths: }}</h5><span id="death"></span></div>
      <div class="card r"><i class="fa fa-check-square-o"></i><h5>Recovered Cases: }}</h5><span id="recovered"></span></div>
      <div class="card t"><i class="fa fa-eye"></i><h5>Total Testes Done</h5><span id="tests"></span></div>
    </div>
  </div>



<style>.embed-container {position: relative; padding-bottom: 80%; height: 0; max-width: 100%;} .embed-container iframe, .embed-container object, .embed-container iframe{position: absolute; top: 0; left: 0; width: 100%; height: 100%;} small{position: absolute; z-index: 40; bottom: 0; margin-bottom: -15px;}</style><div class="embed-container"><iframe width="500" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="COVID-19" src="https://www.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6"></iframe></div>
-->

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<highcharts-chart
id="container" 
[Highcharts]="Highcharts"
[constructorType]="chartConstructor"
[options]="chartOptions"
 style="width: 100%; height: 400px; display: block;">
</highcharts-chart>