

  <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <img src="./assets/img/covid.png" alt="covid" class="covid">
    <a class="navbar-brand" [routerLink]="['/']">COVID<span>TRACKER</span></a>
  </nav>
  <div class="menu">
    <ul>
      <li><a href="#">What is covid-19?</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>

  <!--
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at https://angular.io/license
  -->
